<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>ListView</title>
    </head>
    <body>
        <table>
            <thead>
                <tr>
                    <th>emp_no</th>
                    <th>first_name</th>
                    <th>last_name</th>
                    <th>gender</th>
                </tr>
            </thead>
            <tbody>
                {% for employees in object_list %}
                <tr>
                    <td>{{employees.emp_no}}</td>
                    <td>{{employees.first_name}}</td>
                    <td>{{employees.last_name}}</td>
                    <td>{{employees.gender}}</td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="4">조회 결과가 없습니다</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </body>
</html>