{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container-fluid pt-4 px-4">
        <div class="row g-4">
        <div class="col-sm-12 col-xl-12">
        <div class="bg-secondary rounded h-100 p-4">
        <button id="dept_modify" onclick="fetch_sleep()" type="submit" class="btn btn-primary w-30"> 비동기 재우기</button>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#dept_add_modal"> 부서 추가  </button>
        <table class="table table-hover mb-0">
            <thead class="text-white border-bottom">
                <tr>
                    <th font-size= 30px>부서번호</th>
                    <th>부서이름</th>
                    <th>관리</th>
                    <th>비동기테스트</th>
                </tr>
            </thead>
            <tbody>
                {% for department in departments %}
                <tr>
                    <td><a href="{% url 'departments:department_update' department.dept_no %}">{{department.dept_no}}</a></td>
                    <td>{{department.dept_name}}</td>
                    <td>
                        <form method="post" action="{% url 'departments:department_delete' department.dept_no %}" onsubmit="return confirm('정말 삭제 하시겠습니까?');">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-primary w-30"> 삭제 </button>
                        </form>
                    </td>
                    <td>
                        <button id="dept_modify" onclick="fetch_live()" type="submit" class="btn btn-primary w-30"> 비동기 </button>
                    </td>
                    
                        
                    
                </tr>
                {% empty %}
                <tr>
                    <td colspan="2">조회 결과가 없습니다</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    </div>
</div>
</div>
<!-- Bootstrap Modal -->
<div class="modal fade" id="dept_add_modal" tabindex="-1" aria-hidden="true">
<div class="modal-dialog">
    <div class="modal-content bg-secondary rounded h-100 p-4">

    <div class="modal-header">
        <h5 class="modal-title">부서 추가</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="닫기"></button>
    </div>

    <div class="modal-body">
        <!-- CreateView로 보내는 form -->
        <form id="dept_add_form" action="{% url 'departments:department_add' %}" method="post">
        {% csrf_token %}
        <div class="mb-2">
            <label class="form-label">부서id</label>
            <input type="text" class="form-control col-sm-2 col-form-label" name="dept_no" id="modal_dept_no" placeholder="예) d100">
        </div>
        <div class="mb-2">
            <label class="form-label">부서명</label>
            <input type="text" class="form-control col-sm-2 col-form-label" name="dept_name" id="modal_dept_name" placeholder="예) 개발팀">
        </div>
        <div class="mb-2">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
            <button type="submit" class="btn btn-primary" id="dept_save">추가</button>
        </div>
        </form>
    </div>


    </div>
</div>
</div>
{% endblock content %}

{% block script %}
<script src="{% static 'js/departments.js' %}"></script>
{% endblock %}